// Define variables
$pink: #eb3687;
$gray: #686868;
$light-gray: #efefef;

$size-xs: 2px;
$size-sm: 4px;
$size-md: 8px;
$size-lg: 16px;
$size-xl: 24px;
$size-xxl: 32px;

$bold: 600;

$break-point-lg: 992px;
