// Home page styles
@import 'master-page';

@each $key, $value in $sizes {
    .fs-#{$key} {
        font-size: $value !important;
    }

    .border-#{$key} {
        border-width: $value !important;
    }
}

@each $key, $value in $spacers {
    // generate dimension utility classes
    // .top-1, .-top-1, ...
    @each $dimension in $dimensions {
        .#{$dimension}-#{$key} {
            #{$dimension}: $value !important;
        }

        .-#{$dimension}-#{$key} {
            #{$dimension}: -$value !important;
        }
    }
}

.text-pink {
    color: $pink;
}

.text-gray {
    color: $gray;
}

.nav-item button {
    &:hover {
        background-color: $light-gray;
    }
}

@media (max-width: $break-point-lg) {
    .table {
        thead {
            display: none;
        }

        tr {
            display: block;
            border-radius: size(2);
            background-color: $light-gray;
            margin-bottom: space(4);
        }

        td {
            display: flex;
            margin: space(1);
            background-color: white;
            align-items: center;
            color: initial;

            &:first-child {
                background-color: $light-gray;
                justify-content: space-between !important;
            }

            &:last-child {
                display: none;
            }

            &::before {
                content: attr(data-label);
                font-weight: bold;
                font-style: italic;
                display: inline-block;
                width: 20%;
                min-width: fit-content;
                text-align: left !important;
                margin-right: space(3);
            }
        }
    }
}
